:host ::ng-deep .ui-toolbar {
    width: 90%;
    position: relative;
    top: 20px;
    left: 60px;
    background-color: gray;
    padding: 0em;
}

:host ::ng-deep .ui-table {
    width: 90%;
    position: relative;
    top: 20px;
    left: 60px;
}

:host ::ng-deep .ui-button-one {
    background-color: rgb(255, 81, 0);
}

:host ::ng-deep .ui-button-two {
    background-color: rgb(255, 81, 0);
    top: 0.5em;
    right: 0.5em;
}