
<html>
  <body>
    <app-project-selctor (pidChange)="dealPidChange($event)"></app-project-selctor>
    <div id="container">
        <table id="formula">
          <tr>
            <th id="header" colspan="100%">QUANTITY SURVEY</th>
          </tr>
          <tr>
            <th *ngFor="let column of displayedColumnList">{{column | uppercase}}</th>
          </tr>
          <tr *ngFor="let row of displayedWholeTableByProject">
            <td *ngFor="let rowname of displayedColumnList">{{row[rowname]}}</td>
          </tr>
        </table>
    </div>
    <div id="editFormula">
      <!-- <p>Edit Quantity Survey Template</p> -->
      <nav>
      <a  routerLink="/checkBox">Edit Quantity Survey Template</a>
      <input type="submit" value="Submit" onChange="this.form.submit()">
      </nav>
      <router-outlet></router-outlet>

    </div>
  </body>
</html>
