<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div>Helloworld</div>
<!-- <div style="column-count: 2">
  <div>
    <app-resource-table></app-resource-table>
  </div>
  <div>
    <app-display-resource-by-project></app-display-resource-by-project>
  </div>
</div>
 -->


<div>
  <app-test-post></app-test-post>
  <!-- <app-resource-whole-table></app-resource-whole-table> -->
</div>

<nav>
  <p><a [routerLink]="[ '/resourcewholetable']">whole table</a></p>
  <p><a [routerLink]="[ '/resourcewholetableYG']">whole table YG</a></p>
  <p><a [routerLink]="[ '/resourcetable']">Resource Table</a></p>
  <p><a [routerLink]="[ '/userprofile']">User</a></p>
  <p><a [routerLink]="[ '/projectlist']">Project List</a></p>
  <p><a [routerLink]="[ '/resourcepage']">Resource Page</a></p>
  <p><a [routerLink]="[ '/projectpage']">Project Page</a></p>
</nav>

<router-outlet></router-outlet>
