<style>
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h1>project-page</h1>
<div><app-project-selctor (pidChange)="dealPidChange($event)"></app-project-selctor> </div>
<div class="row">
  <div class="column" style="background-color: aliceblue;">
    <app-resource-table></app-resource-table>
  </div>
  <div class="column" style="background-color: bisque;">
    <app-display-resource-by-project [id]="pid"></app-display-resource-by-project>
  </div>
</div>
