<!-- <h1>project-page</h1>
<div><app-project-selctor (pidChange)="dealPidChange($event)"></app-project-selctor> </div>
<div class="row">
  <div class="column" style="background-color: aliceblue;">
    <app-resource-table></app-resource-table>
  </div>
  <div class="column" style="background-color: bisque;">
    <app-display-resource-by-project [id]="pid"></app-display-resource-by-project>
  </div>
</div> -->
<html>
  
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<app-header></app-header>

<div><app-project-selctor (pidChange)="dealPidChange($event)"></app-project-selctor> </div>
<div class="outer">
<div class="leftTable">
<table contenteditable="true" >
    <tr>
      <th class="header" colspan="100%">
          Resourse Catelog
          <button style="margin-right: 10px; background-color: rgb(248, 105, 38); color: white; float: right;" (click)="move()"><i class="fa fa-share"></i>

          </button>
          </th>
      
    </tr>
    <tr>
      <th *ngFor="let columnname of columnlist">{{columnname | uppercase}}</th>
    </tr>
    <tr *ngFor="let row of resourceListAll" >
        <td>
        {{row.cost_code}}</td>
        <td>
            <input type="checkbox" value={{row.name}} ng-checked="row.name != -1" (click)="toggleSelection(row.name)" >
            {{row.name}}
        </td>
    </tr>

  </table>
</div>

<div class="rightTable" >
    <table contenteditable="true" >
        <tr>
          <th class="header" colspan="100%">Project
          </th>
        </tr>
        <tr>
          <th *ngFor="let columnname of columnlist">{{columnname | uppercase}}</th>
        </tr>
        <tr *ngFor="let row of resourceListByProject">

          <td *ngFor="let columnname of columnlist">
            {{row[columnname]}}</td>
        </tr>
      </table>
    </div>
</div>
</html>
